name: Update GitHub Stats

permissions:
  contents: write

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Generate GitHub Stats Images
        run: |
          # We use the official URL but pass the token to avoid rate limits
          curl "https://github-readme-stats.vercel.app/api?username=yzes95&show_icons=true&theme=radical&count_private=true&token=${{ secrets.GH_STATS_TOKEN }}" -o stats.png
          
          curl "https://github-readme-stats.vercel.app/api/top-langs/?username=yzes95&layout=compact&theme=radical&count_private=true&token=${{ secrets.GH_STATS_TOKEN }}" -o langs.png

      - name: Commit stats images
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "Update GitHub stats images"
          file_pattern: "stats.png langs.png"
