name: Update GitHub Stats

permissions:
  contents: write

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Generate General Stats (stats.svg)
        uses: lowlighter/metrics@latest
        with:
          filename: stats.svg
          token: ${{ secrets.GH_STATS_TOKEN }}
          base: header, repositories
          config_timezone: Europe/London

      - name: Generate Language Stats (langs.svg)
        uses: lowlighter/metrics@latest
        with:
          filename: langs.svg
          token: ${{ secrets.GH_STATS_TOKEN }}
          base: ""
          plugin_languages: yes
          plugin_languages_ignored: html, css
          plugin_languages_limit: 8
